.app-wrapper { 
  display: grid;
 
 grid-template-areas:
"header header "
"menu textpage ";
 grid-template-rows: 60px 1fr;
 grid-template-columns: 2fr 10fr;

border: 1px solid black;
  
}
.header {
  grid-area: header;
   border: 1px solid black;
}
.menu {
  grid-area: menu;
  border: 1px solid black;
}
.page {
  grid-area: textpage;
  border: 1px solid black;
}
